* { 
	box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body{
    overflow-x: hidden;
}

h1, h2, h3, h4, label {
    font-family: 'Della Respira', serif;
    color: white;
}

h1{
    font-size: 80px;
}

p, span{
    font-family: 'Poppins', sans-serif;
}

.navbar-nav {
    margin-left: auto;
    padding-right: 3%;
    max-width: 100%;
}

.nav-link{
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    color: #ffffff;
    font-size: large;

}

.nav-link:hover{
    color: #750D37;
}

.nav-link:active, #hereNow{
    border-bottom-color: #750D37;
    border-bottom-style: solid;
}

#facts{
    background: url(../media/music.jpg); 
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#bigPretty{
    background-color: rgba(3, 25, 38, 0.60);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;


}

#landingTitle{
    border-left-style: solid;
    border-bottom-style: solid;
    border-left-color: #750D37;
    border-bottom-color: #750D37;
    border-left-width: 3px;
    border-bottom-width: 3px;
    width:fit-content;
    padding-left: 3%;
    padding-bottom: 3%;

}

#btns{
    padding-top: 5%;
    display: flex;
  width: 80%;
  margin: auto;
  justify-content: flex-end;
  gap: 10%;
}

button{
 border-radius: 10px;
padding: 5px 10%;
color: #ffffff;
display: inline-block;
font: "Poppins", sans-serif;
font-size: 20px;
text-align:  center;
font-weight: semibold;
border: none;
}

.btnOne, .btnTwo:hover{
background: #468189;
}

.btnOne:hover, .btnTwo{
    background: #77ACA2;
}


article{
    padding-top: 10%;
    margin: auto;
    width: 80%;
}

section{
    padding-top: 10%;
    padding-bottom: 20px;
    margin: auto;
    width: 80%;
    min-height: 80vh;
    background-color: rgba(3, 25, 38, 0.80);

}

form{
    padding-top: 10%;
    width: 80%;  
    margin: auto;
}

input{
    border: none;
    margin: 15px;
    width:80%;
    background: none;
    border-bottom:3px solid #77ACA2;
    outline:none;
    transition: border-color border-width .2s;
    color: #fff;
}
  
input:focus {
    border-bottom-color: #038787;
    border-bottom-width: 2px;
}
  
input::placeholder {
    color: #038787;
    font-size: 25px;
    font-weight: 400;
}

.newText::placeholder{
    font-size: 15px;
}
.newText{
    width: 40%;
    min-width: 75px;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
}


.form_range{
    border: none;
}

/*styles from css tricks to rest sliders*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%; 
    background: transparent; 
}
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
  
  input[type=range]:focus {
    outline: none;
}

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-runnable-track{
    background: #750D37;
    background: -webkit-linear-gradient(
        to right,
        #038787,
        #750D37
        
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #038787,
        #750D37
      );
}

input[type=range]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #468189;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -3.5px;
    width: 15px;
    height: 15px;
    background: #468189;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #468189;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
  }

.form-range{
    border:none;
    width: 80%;
    margin: auto;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.range_Slider{
    color: #ffffff;
}
span{
    font-size: 10px;
    padding-bottom: 10px;
}

.rangeLables, .texts {
    display: flex;
    justify-content: space-between;

}
.texts{
    width:100%;
}

.discover{
    padding-top: 0;
}


#discover form{
    padding-top: 2%;
}

#discover h2{    
    padding-left: 10%;
}

footer {
    width: 100%;
    min-height: 1vh;
    clear: both;
}

table{
    color: #fff;
    font-family: 'Poppins';
    width: 90%;
    margin: auto;
}

table img{
    width: 90px;
    height: 90px;
    margin-top: 20px;
    margin-right: 5px;
}
thead{
    padding-bottom: 20px;
    border-bottom: #750D37 solid 2px;
}

.discover h2{
    width: fit-content;
}

.circle img{
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 

}

#facts article{
    padding-top:3%;
}

.artistInfo{
    width: 70%;
    margin: auto;
    color: #fff;
}
.artistInfo ul{
    text-decoration: none;
    list-style: none;
}

.gList {
    display: flex;
    justify-content: space-around;
}
.artistHead{
    display:flex;
    margin-bottom: 15px;
}

.smallDeets{
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.smallDeets p{
    font-size: smaller;
    font-weight: 300; 
}
.smallDeets h4{
    font-size: medium;
}
.artDeets{
    width: 70%;
    margin:auto;
    justify-content:space-between;
}

.explicit{
    background-color: #750D37;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: medium;
    display: inline;
}
.albImg{
    width: 200px;
    height: auto;
}


.trackImg{
    width: 100px;
    height: auto;
}
.aTrack{
    display: inline-flex;
    margin: 10px;
    padding: 10px;
}

.artAlbums, .moreArt{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.anAlbum{
    width:fit-content;
}

.aTopTracks ol,  .aTopTracks aside{
    display: flex-wrap;
    justify-content: space-evenly;
}
.tInfo{
    padding-left: 10px;
}
.newGuy{
   width: 60px;
   height: auto;
   border-radius: 50%; 
}
.relName{
    font-size: small;
}











